* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row > * {
  padding: 0 !important;
}

.nav-bottom {
  background-color: mediumturquoise;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 8px;
}

.home-top {
  background: url("imges/img_1.jpg") center center/cover;
  height: 300px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.columns1 {
  background: url("imges/img_2.jpg") center center/cover;
  height: 300px;
  width: 315px;
  text-align: left;
  color: azure;
}
.intro {
  text-align: center;
  color: azure;
}

.modal-header {
  background-color: white;
  color: black;
}
#updateGuestInfo {
  color: black;
}
.modal-body {
  background-color: white;
  color: black;
}
.columns2 {
  background: url("imges/img_3.jpeg") center center/cover;
  height: 200px;
  width: 632px;
  text-align: left;
  color: azure;
}
.columns3 {
  background-color: dodgerblue;
  color: azure;
  text-align: left;
  height: 200px;
  width: 315px;
  padding: 2px;
}

.columns4 {
  background-color: royalblue;
  height: 200px;
  width: 315px;
  text-align: center;
  color: azure;
}
.columns5 {
  color: midnightblue;
}
.follow {
  text-align: left;
  padding: 6px;
}
.follow2 {
  text-align: right;
  padding: 7px;
  color: deepskyblue;
}

.paragreaph1 {
  padding: 2px;
}

.columns6 {
  background: url("imges/img_7.jpg") center center/cover;
  height: 200px;
  width: 315px;
}
.columns7 {
  color: midnightblue;
}

.columns8 {
  background: url("imges/img8.jpeg") center center/cover;
  height: 200px;
  width: 315px;
}

.columns9 {
  background: url("imges/img9.jpeg") center center/cover;
  height: 200px;
  width: 315px;
}

.columns10 {
  background: url("imges/img11.jpeg") center center/cover;
  height: 200px;
  width: 315px;
}

.columns11 {
  background: url("imges/img10.jpeg") center center/cover;
  height: 200px;
  width: 315px;
}

/* .columns8{
      background: url('imges/img_7.jpg')
      center center/cover;
      height: 200px;
      width: 315px;
    } */
/* .columns5{
    
      height: 200px;
      width: 632px;
    }

    .columns7{
      
      height: 200px;
      width: 632px;
    } */


w-25 {
  width: 25%;
}

w-75 {
  width: 75%;
}

.row {
  margin: 0 !important;
}
/* .something{
  position: absolute;
} */
/* Price Range Picker Start */
.wrapper{
    position: relative;
    width: 30vmin;
    height: 110px;
    background-color: #ffffff;
    margin: auto;
}
.price_container{
    position: relative;
    width: 100%;
    height: 100px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #f7941d;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}
.values{
    background-color: white;
    width: 50%;
    position: relative;
    margin: auto;
    padding: 5px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 150%;
    color: black;
}
.values:before{

    position: relative;
    height: 0;
    width: 0;
    border-top: 15px solid #3264fe;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    left: 0;
    right: 0;
}
/* Price Range Picker End */