* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row > * {
  padding: 0 !important;
}

.nav-bottom {
  background-color: mediumturquoise;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 8px;
}

.home-top {
  background: url("imges/img_1.jpg") center center/cover;
  height: 300px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.columns1 {
  background: url("imges/img_2.jpg") center center/cover;
  height: 300px;
  width: 315px;
  text-align: left;
  color: azure;
}
.intro {
  text-align: center;
  color: azure;
}

.columns2 {
  background: url("imges/img_3.jpeg") center center/cover;
  height: 200px;
  width: 632px;
  text-align: left;
  color: azure;
}
.columns3 {
  background-color: dodgerblue;
  color: azure;
  text-align: left;
  height: 200px;
  width: 315px;
  padding: 2px;
}

.columns4 {
  background-color: royalblue;
  height: 200px;
  width: 315px;
  text-align: center;
  color: azure;
}
.columns5 {
  color: midnightblue;
}
.follow {
  text-align: left;
  padding: 6px;
}
.follow2 {
  text-align: right;
  padding: 7px;
  color: deepskyblue;
}

.paragreaph1 {
  padding: 2px;
}

.columns6 {
  background: url("imges/img_7.jpg") center center/cover;
  height: 200px;
  width: 315px;
}
.columns7 {
  color: midnightblue;
}

.columns8 {
  background: url("imges/img8.jpeg") center center/cover;
  height: 200px;
  width: 315px;
}

.columns9 {
  background: url("imges/img9.jpeg") center center/cover;
  height: 200px;
  width: 315px;
}

.columns10 {
  background: url("imges/img11.jpeg") center center/cover;
  height: 200px;
  width: 315px;
}

.columns11 {
  background: url("imges/img10.jpeg") center center/cover;
  height: 200px;
  width: 315px;
}

/* .columns8{
      background: url('imges/img_7.jpg')
      center center/cover;
      height: 200px;
      width: 315px;
    } */
/* .columns5{
    
      height: 200px;
      width: 632px;
    }

    .columns7{
      
      height: 200px;
      width: 632px;
    } */
.category {
}

w-25 {
  width: 25%;
}

w-75 {
  width: 75%;
}

.row {
  margin: 0 !important;
}
